# OS X
.DS_Store

# vim
*.swp

# emacs
*~

# Bower package manager
bower_components

# Node
node_modules
npm-debug.log

# Generated js files
bip38.js
bip39.js
bitcoinjs-npm.js
browserify.js
jquery.min.js
xregexp-all.js
sjcl.js

# Generate coverage reports
coverage
