language: node_js

node_js:
  - "node"

script: node_modules/karma/bin/karma start karma.conf.js --single-run

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
